{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<title>Secure Login</title>

<link rel="stylesheet" href="{% static 'css/auth.css' %}">

</head>

<body>

<div class="container">

<div class="left-panel">

<h1>BACRSS</h1>

<p>Behavior-Aware Adaptive Cyber Risk Scoring System</p>

<ul>
<li>✔ Behavior Monitoring</li>
<li>✔ Risk-Based Authentication</li>
<li>✔ Session Tracking</li>
<li>✔ Adaptive Security Response</li>
</ul>

</div>


<div class="right-panel">

<div class="card">

<h2>Secure Login</h2>

{% if messages %}
{% for message in messages %}
<div class="alert {{ message.tags }}">
{{ message }}
</div>
{% endfor %}
{% endif %}

<form method="POST" action="{% url 'login' %}">
{% csrf_token %}

<label>Username</label>
<input type="text" name="username" placeholder="Enter Username" required>

<label>Password</label>
<input type="password" id="password" name="password" placeholder="Enter Password" required>

<button type="submit">Login Securely</button>

</form>
{% if show_captcha %}
<div class="form-group">
    <label>Solve: {{ num1 }} + {{ num2 }}</label>
    <input type="text" name="captcha" required>
</div>
{% endif %}
<p class="footer">
New user? <a href="{% url 'register' %}">Create account</a>
</p>

</div>

</div>

</div>

</body>
</html>